// Main Navigation Styling

header.site-header {
	border-bottom: 7px solid $darklav; 
}

ul#menu-social-menu li.menu-item {
	margin: 0 15px 0 0;
}

ul#menu-social-menu li.menu-item a {
	color: $darklav;		;
	font-size: 20px;
}

span.icon-title {
	display: none;
}


