// Main Navigation Styling

header.site-header {
	border-bottom: 7px solid $darklav; 
}

div.menu-main-menu-container ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style-type: none;
	padding: 20px 20px 35px; 
}

ul.nav-menu li.menu-item {
	margin: 0 35px 0 0;
}

ul.nav-menu li.menu-item a{
	font-size: 18px;
	font-family: $darklav;
	font-weight: 600;
	text-transform: uppercase;
}
