.login #login h1 a {
           background-image: url('../../../uploads/2016/09/kaye-logo-4.png');
            background-size: 300px auto;
            width: 100%;
            height: 110px;
        }

body.login {
		
		  background: #D1CEE9;
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-position: center;
		}

body.login .button-primary {
            float: right;
            background: #B5A4D1;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #fff;
            text-decoration: none;
            text-shadow: none;
        }

body.login .button-primary:hover {
            background: #D1CEE9;
        }