// About Page Styling

.post-9 {
  width: 70%;
  float: right;
  padding-left: 50px;
}

.page-id-9 #content {
	min-height: 500px;
}

.profilepic {
  width: 30%;
  display: inline-block;
  margin-top: 50px;
}

.aboutpagelinks {
	width: 70%;
	float: right;
}

.page-id-9 .portfoliolink {
	width: 50%;
	display: inline-block;
	text-align: center;
}

.page-id-9 .bloglink {
	width: 50%;
	float: right;
	text-align: center;
}

@media screen and (max-width: 945px) {

	.profilepic {
		width: 100%;
		text-align: center;
		margin-top: 0;
	}

	.post-9 {
		width: 100%;
	}

	.aboutpagelinks {
		width: 100%;
	}
}