// About Page Styling

.post-9 {
  width: 55%;
  float: right;
  display: inline-block;
  padding: 10px;
}

.post-9 h1 {
	text-align: center;
	margin: 0;
}

.post-9 p {
	padding: 10px;
	margin: auto;
	width: 80%;
	line-height: 2.5;
}

.page-id-9 #content {
	min-height: 500px;
}

.profilepic {
  width: 40%;
  display: inline-block;
  margin: 100px 0 50px 50px;
}

.aboutpagelinks {
	width: 55%;
	float: right;
	display: inline-block;
	clear: both;

}

.aboutpagelinks a {
	color: $alertsLinks;
}

.page-id-9 .portfoliolink {
	width: 50%;
	display: inline-block;
	text-align: center;
}

.page-id-9 .bloglink {
	width: 50%;
	float: right;
	text-align: center;
}

 @media screen and (max-width: 1077px) {

	.aboutpagelinks {
		width: 40%;
		float: left;
		clear: none;
		margin-left: 50px;
	}
}

@media screen and (max-width: 1016px) {
	.post-9 {
		width: 50%
	}

	.post-9 p {
		width: 100%;
	}	
}


@media screen and (max-width: 767px) {

	.profilepic {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	.profilepic img {
		width: 80%;
	}

	.post-9 {
		width: 100%;
	}

	.aboutpagelinks {
		width: 100%;
		margin-left: 0;
	}
}


@media screen and (max-width: 566px) {

	.profilepic {
		width: 100%;
		margin: 0;
	}

	.post-9 {
		width: 100%;
	}

	.aboutpagelinks {
		width: 100%;
	}
}