// Search Page and 404 Page


// 404 Page

	.error-404 {
			margin-top: 70px;
			margin-bottom: 70px;

		.page404-content {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: column wrap;
			-ms-flex-flow: column wrap;
			flex-flow: column wrap;
			-webkit-box-align: center;
    		-ms-flex-align: center;
        	align-items: center;

        	.kayefung-logo {
        		margin-bottom: 40px;
        	}

			.page404-title {
				margin: 0 auto;
				text-align: center;
			}

			.page404-list {
				padding-left: 0;
				margin: 10px auto 0;
			}

			.page404-link {
				text-decoration: none;
				font-weight: 600;
			}

			.page404-text {
				text-align: center;
			}

			input[type="search"] {
				width: 61%;
				margin-top: 30px;
	    		height: 40px;
			}

			input[type="submit"] {
			    width: 80px;
			    height: 40px;
			}
		}
	}


// 404 Page Media Queries

@media screen and (min-width: 318px) {

	.error-404 {
		margin-top: 0;
		margin-bottom: 20px;

		.page404-content {
			margin: 0 30px;

			.kayefung-logo {
        		margin-bottom: 20px;
        	}

			.page404-title {
				font-size: 24px;
			}

			.page404-text {
				font-size: 16px;
			}
		}
	}
}

@media screen and (min-width: 520px) {

	.error-404 {
		margin-top: 0;
		margin-bottom: 20px;

		.page404-content {
			margin: 0 50px;
		}	
	}

}

@media screen and (min-width: 720px) {

	.error-404 {
		margin-top: 40px;
		margin-bottom: 40px;

		.kayefung-logo {
        	margin-bottom: 30px;
        }

		.page404-title {
			font-size: 26px;
		}
	}
}


@media screen and (min-width: 1100px) {

	.error-404 {
		margin-top: 70px;
		margin-bottom: 70px;

		.page404-content {
			margin: 0;

			.kayefung-logo {
        		margin-bottom: 30px;
        	}

			.page404-title {
				font-size: 32px;
			}

			.page404-text {
				font-size: 17.5px;
			}
		}
	}
}


// Search Page

.search-page {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px auto 100px;

    .entry-title {
    	text-align: center;
    }

    a {
    	text-decoration: none;
    }
	
	.search-results {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		-webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	}

	.entry-footer {
		text-align: center;
	}

	input[type="search"] {
		width: 61%;
		margin-top: 30px;
	   	height: 40px;
	}

	input[type="submit"] {
		width: 80px;
		height: 40px;
	}
}	

// No results

.no-results {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	.page-content {
		margin: 0;
	}

	.error-message {
		text-align: center;
	}

	.searchform {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

// Search Media Queries

@media screen and (min-width: 318px) {

	.search-page {
	    margin: 0 auto;
	}

}

@media screen and (min-width: 1120px) {

	.search-page {
	    margin: 50px auto 100px;
	}

}
  

// Search: No results - Media Queries

@media screen and (min-width: 318px) {

	.no-results {
		margin: 0 30px;

		.page-title {
			margin: 20px 0 0;
			font-size: 24px;
		}

		.error-message {
			margin: 10px 0 10px;
			font-size: 16px;
		}
	}
}

@media screen and (min-width: 520px) {

	.no-results {
		margin: 0 50px;

	}

}

@media screen and (min-width: 720px) {

	.no-results {

		.page-title {
			font-size: 26px;
		}
	}
}


@media screen and (min-width: 1020px) {

	.no-results {

		.page-title {
			font-size: 32px;
			margin: 40px 0 0;
		}

		.error-message {
			margin: 20px 0 10px;
			font-size: 17.5px;
		}
	}

}
