// Contact Page Styling

.page-id-20 #content {
	margin-top: 0;
}

.page-id-20 #main {
	margin-left: 0;
}

.post-20 {
	width: 50%;
	float: right;
	//margin-left: 50px;
}

.maincontact img {
	margin-top: 50px;

}

.contactimage {
	width: 50%;
	float: left;
	text-align: center;
}

.specialmessage {
	background-color: $alertsLinks; //$theDarkestlav 
	//border: 5px solid fuchsia;
	min-height: 30px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	//font-weight: bold;
	color: white;
}

.specialmessage p {
	margin: auto;
}

.contactinfo {
	text-align: center;
	width: 50%;
	float: left;
	margin-top: 20px;
}

#smformcont-132 {
	margin: 0 50px 0 50px;
}

.question {
	background-color: $lightlav;
	margin: 0;
	padding: 10px;
}

.answer p {
	padding: 10px;
	margin: 0;
}

.faq {
	margin: 0 100px;
}

.faq ul {
	padding: 0;
}

.faq li {
	margin-top: 10px;
}

// Social Menu

ul#menu-social-menu {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 50px auto 20px; 
}

ul#menu-social-menu li.menu-item {
	margin: 0 20px 0 0;
}

ul#menu-social-menu li.menu-item a {
	color: $darklav;
	font-size: 20px;
}

ul#menu-social-menu li.menu-item a:hover {
	color: $lightlav;
}

span.icon-title {
	display: none;
}

@media screen and (min-width: 318px) {

	#contact-social-navigation {
		margin-top: 160px;
	}

	ul#menu-social-menu li.menu-item a {
		font-size: 20px;
	}

	.contactinfo a {
		font-size: 11px;
	}
}

@media screen and (min-width: 370px) {

	.contactinfo a {
		font-size: 13px;
	}
}

@media screen and (min-width: 420px) {

	.contactinfo a {
		font-size: 14.5px;
	}
}

@media screen and (min-width: 600px) {

	#contact-social-navigation {
		margin-top: 190px;
	}

	.contactinfo a {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {

	#contact-social-navigation {
		margin-top: 0px;
	}
}


@media screen and (max-width: 767px) {

	.contactimage {
		display: none;
	}

	.specialmessage {
		width: 100%;
	}

	.maincontact {
		display: flex;
		flex-direction: column;
	}

	.post-20 {
		width: 100%;
		order: 2;
	}

	.contactinfo {
		width: 100%;
		order: 1;
	}

	.phone {
		width: 50%;
		float: left;
	}

	.email {
		width: 50%;
		float: right;
	}
}

@media screen and (max-width: 679px) {

	.faq {
		margin: 0 50px;
	}

}

@media screen and (max-width: 475px) {

	.faq {
		margin: 0;
	}

}