// Contact Page Styling

.page-id-20 #content {
	margin-top: 0;
}

.page-id-20 #main {
	margin-left: 0;
}

.post-20 {
	width: 50%;
	float: right;
	//margin-left: 50px;
}

.maincontact img {
	margin-top: 50px;

}

.contactimage {
	width: 50%;
	float: left;
	text-align: center;
}

.specialmessage {
	background-color: $theDarkestlav;
	border: 5px solid fuchsia;
	min-height: 50px;
	width: 100%;
	text-align: center;
	margin: auto;
	//font-weight: bold;
	color: white;
}

.contactinfo {
	//margin-top: 24px;
	text-align: center;
	width: 50%;
	float: left;
	margin-top: 20px;
}

#smformcont-132 {
	margin: 0 50px 0 50px;
}

.question {
	background-color: $lightlav;
	margin: 0;
	padding: 10px;
}

.answer p{
	padding: 10px;
	margin: 0;
}

.faq ul {
	padding: 0;
}

.faq li {
	margin-top: 10px;
}

@media screen and (max-width: 767px) {

	.contactimage {
		display: none;
	}

	.specialmessage {
		width: 100%;
	}

	.maincontact {
		display: flex;
		flex-direction: column;
	}

	.post-20 {
		width: 100%;
		order: 2;
	}

	.contactinfo {
		width: 100%;
		order: 1;
	}

	.phone {
		width: 50%;
		float: left;
	}

	.email {
		width: 50%;
		float: right;
	}
}

