// Footer Styling


//Footer Genereal Styling

footer.site-footer {
	background: $darklav;
}

footer div.container {
	margin: 0 auto;
	padding: 30px 30px 45px;
}

footer div.container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

section.footer-main-content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

div.inner-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	margin-top: 25px;
}


//Footer Copyright and Developers Info

div.footer-copyright-developers {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

p.footer-copyright {
	margin: 0;
	font-size: 15px;
}

p.developers-info {
	font-size: 12px;
	margin: 0;
}

p.developers-info a{
	color: $textColor;
	text-decoration: none;
	font-family: $font__main;
	font-size: 12px;
}

p.developers-info a:hover{
	color: $lightlav;
}


// Social Navigation

ul#menu-social-menu-1 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

ul#menu-social-menu-1 {
	list-style-type: none;
	padding-left: 0;
	margin-top: 25px;
	line-height: 1;
}

ul#menu-social-menu-1 li.menu-item {
	margin: 0 20px 0 0;
	font-size: 19px;
}

ul#menu-social-menu-1 a.footer {
	color: $textColor;
}

ul#menu-social-menu-1 a:hover{
	color: $lightlav;
}


// Contact Info

div.footer-contact-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

div.footer-phone-numb, 
div.footer-email, 
div.footer-location {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	font-size: 15px;
}


// Media Queries

@media screen and (max-width: 767px) {

	div.footer-copyright-developers {
		display: none;
	}

	ul#menu-footer-menu {
		display: none;
	}

	div.inner-container {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-flex-flow: wrap;
		-ms-flex-flow: wrap;
		flex-flow: wrap;
	}

	ul#menu-social-menu-1 li.menu-item {
		margin: 10px 15px 10px 0;
	}
}

@media screen and (min-width: 768px) {

	div.menu-footer-menu-container ul {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		list-style-type: none;
		line-height: 1;
		padding-left: 0;
		margin: 0;
	}

	ul#menu-footer-menu li.menu-item {
		margin: 0 35px 0 0;
	}

	ul#menu-footer-menu li.menu-item a {
		color: $textColor;
		font-size: 16px;
		font-family: $font_heading;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
	}

	ul#menu-footer-menu li.menu-item a:hover {
		color: $lightlav;
	}
}