// Footer Styling


//Footer Genereal Styling

footer.site-footer {
	background: $darklav;
}

div.container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

section.inner-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	-webkit-flex-flow: wrap;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
}

//Footer Nav and Copyright

div.footer-nav-copyright {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

div.menu-footer-menu-container ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	line-height: 1;
	padding-left: 0;
	margin: 0;
}

ul#menu-footer-menu li.menu-item {
	margin: 0 35px 0 0;
}

ul#menu-footer-menu li.menu-item a {
	color: $textColor;
	font-size: 18px;
	font-family: $font_heading;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}

ul#menu-footer-menu li.menu-item a:hover {
	color: $lightlav;
}

// Social Nav and Contact Info

div.social-nav-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	// -webkit-flex-flow: column wrap;
	// -ms-flex-flow: column wrap;
	// flex-flow: column wrap;
}

ul#menu-social-menu-1 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	line-height: 1;
}

ul#menu-social-menu-1 li.menu-item {
	margin: 0 15px 0 0;
}

ul#menu-social-menu-1 a.footer {
	color: $textColor;
	font-size: 20px;
}

ul#menu-social-menu-1 a:hover{
	color: $lightlav;
}

// Developers Info

div.developers-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

div.developers-info p{
	font-size: 11px;
}

div.developers-info p a{
	color: $textColor;
	text-decoration: none;
	font-family: $font__main;
	font-size: 11px;
}

div.developers-info p a:hover{
	color: $lightlav;
}