
body.page-id-136 .services-page-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
body.page-id-136 h1.entry-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
body.page-id-136 .entry-content p a {
	color: #a864a8;
}

body.page-id-136 div#content.site-content {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}


div.rmc-col-holder {
	max-width: 750px;
    margin: auto; 
}

.post-136 {
	max-width: 1000px;
	margin: 2em ;
}

body.page-id-136 .cta-book a {
	color: #fff;
	text-decoration: none;
	background-color: $darklav;
	padding: 0.75em;
	box-shadow: 0px 1px 4px black;
}

body.page-id-136 .cta-book {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.rmc-holder {
	padding: 2em;
}

.page-id-136 .content-area {
	margin: auto;
}