// Blog Styling


///// Blog Sub Nav

ul#menu-blog-menu {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: wrap;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	margin: 30px auto 80px; 
}

ul#menu-blog-menu li.menu-item {
	margin: 0 30px 0 0;
}

ul#menu-blog-menu li.menu-item a {
	color: $textColor;		;
	font-size: 17px;
	font-family: $font_heading;
	text-transform: uppercase;
	text-decoration: none;
}
ul#menu-blog-menu li.menu-item a:hover,
ul#menu-blog-menu li.menu-item a:focus,
ul#menu-blog-menu li.menu-item a:active {
	color: #1f2b39;
    border-bottom: 3px #b5a4d1 solid;
    text-decoration: none;
}

///// Main Blog Layout

.blog-main-page article {
	width: 40%;
	float: right;
	text-align: center;
	margin: 50px;
}

.blog-main-page article:first-child {
	text-align: center;
	float: none;
	width: 100%;
	margin: 0;
}

.blog-main-page article:nth-child(even) {
	text-align: center;
	width: 40%;
	float: left;
}

.blog #content img {
	width: 80%;
}

.blog article:first-child img {
	width: 60%;
}

.blog .entry-footer .comments-link, 
.blog .posted-on,
.entry-meta .byline  {
	display: none;
}

.blog .entry-footer,
.blog .entry-header,
.blog .entry-content p  {
	width: 80%;
	margin: auto;
	text-align: left;
}

///// Blog Category Layout

.archive article {
	width: 40%;
	float: right;
	text-align: center;
	background-color: $blogPostsColor;
	margin: 50px;
}

.archive article:nth-child(even) {
	text-align: center;
	width: 40%;
	float: left;
}

.category article img {
	width: 80%;
}

// Single-Post Blog Layout

.single article {
	width: 60%;
	margin: auto;
}

.comments-title {
	width: 60%;
	margin: 50px auto;
}

.comment-list {
	list-style-type: none;
}

.comment-list li {
	margin-bottom: 10px;
}

.comment-list li article {
	border: 1px solid $lightlav;
}

/////Category and Tag Links

.archive .entry-footer .comments-link, 
.archive .posted-on,
.archive.group-blog .byline  {
	display: none;
}

.archive .entry-footer,
.archive .entry-header,
.archive .entry-content p  {
	width: 80%;
	margin: auto;
	text-align: left;
}

.cat-links a {
	color: $alertsLinks;
	font-weight: bold;
}

.tags-links a {
	color: $alertsLinks;
}

.tags-links {
	float: right;
	width: 50%;
}

.cat-links a:hover, .tags-links a:hover {
	color: $lightlav;
}

.blog article:first-child .tags-links,
.single article .tags-links {
	width: auto;
}

@media screen and (min-width: 768px) {

	ul#menu-blog-menu {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}