// Blog Styling


///// Blog Sub Nav

ul#menu-blog-menu {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: wrap;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
	margin: 30px auto 80px; 
}

ul#menu-blog-menu li.menu-item {
	margin: 0 30px 0 0;
	line-height: 3;
}

ul#menu-blog-menu li.menu-item a {
	color: $textColor;		;
	font-size: 17px;
	font-family: $font_heading;
	text-transform: uppercase;
	text-decoration: none;
}

ul#menu-blog-menu li.menu-item a:hover,
ul#menu-blog-menu li.menu-item a:focus,
ul#menu-blog-menu li.menu-item a:active {
	color: #1f2b39;
    border-bottom: 3px #b5a4d1 solid;
    text-decoration: none;
}

///// Main Blog Layout

.blog-main-page article:nth-child(2n+3) {
	width: 40%;
	float: right;
	text-align: center;
	margin: 50px 50px 50px 0;
}

.blog-main-page article:first-child {
	text-align: center;
	float: none;
	width: 100%;
	margin: 0;
}

.blog-main-page article:nth-child(2n+2) {
	text-align: center;
	width: 40%;
	float: left;
	margin: 50px 0 50px 50px ;
}

.blog #content img {
	width: 80%;
}

.blog article:first-child img {
	width: 60%;
}

.blog .entry-footer .comments-link, 
.blog .posted-on,
.entry-meta .byline  {
	display: none;
}

.blog .entry-footer,
.blog .entry-header,
.blog .entry-content p  {
	width: 80%;
	margin: auto;
	text-align: left;
}

///// Blog Category Layout

.archive #content {
	padding: 0;
}

.category .page-title {
	text-align: center;
}

.archive article {
	width: 40%;
	text-align: center;
	background-color: $blogPostsColor;
	margin: 50px;
	padding: 25px 0;
}

.archive article:nth-child(even) {
	float: left;
	margin: 50px 0 50px 50px;
}

.archive article:nth-child(odd) {
	float: right;
	margin: 50px 50px 50px 0;
}

.category article img {
	width: 80%;
}

// Single-Post Blog Layout

.single article {
	width: 60%;
	margin: auto;
}

.single article p {
	line-height: 2.5;
}

.comments-title {
	width: 60%;
	margin: 50px auto;
}

.comment-list {
	list-style-type: none;
}

.comment-list li {
	margin-bottom: 10px;
}

.comment-list li article {
	border: 1px solid $lightlav;
}

/////Category and Tag Links

.archive .entry-footer .comments-link, 
.archive .posted-on,
.archive.group-blog .byline  {
	display: none;
}

.archive .entry-footer,
.archive .entry-header,
.archive .entry-content p  {
	width: 80%;
	margin: auto;
	text-align: left;
}

.cat-links a {
	color: $alertsLinks;
	font-weight: bold;
}

.tags-links a {
	color: $alertsLinks;
}

.tags-links {
	float: right;
	width: 50%;
}

.cat-links a:hover, .tags-links a:hover {
	color: $lightlav;
}

.blog article:first-child .tags-links,
.single article .tags-links {
	width: auto;
}
.blog a,
.category a,
.single-post a {
	text-decoration: none;
}

.read-more {
	color: white;
	background-color: $darklav;
    padding: 0.25em;
    box-shadow: 1px 1px 4px darkgray;
}

@media screen and (max-width: 1016px) {
	.category .site-content {
		padding: 0 50px;
	}

	.blog article,
	.archive article {
		margin: 50px auto;
	}
}


@media screen and (max-width: 940px) {
	.cat-links a,
	.tags-links a,
	.read-more a {
		font-size: 14px ;
	}

	.entry-title a {
		font-size: 20px;
	}
	
	.blog-main-page article:nth-child(1n+2){
	width: 50%;
	margin: 50px auto;
	}

	.archive article:nth-child(even),
	.archive article:nth-child(odd) {
		width: 50%;
		margin: 50px auto;
		background: none;
	}

}


@media screen and (max-width: 767px) {
	.single article {
		width: 80%;
	}
}


@media screen and (max-width: 677px) {
	.blog-main-page article:nth-child(1n+2),
	.archive article:nth-child(even),
	.archive article:nth-child(odd){
		width: 100%;
	}

	.tags-links {
		display: none;
	}
	
}


@media screen and (max-width: 515px) {
	.blog #content img,
	.archive article img {
		width: 100%;
	}

	.blog .entry-footer,
	.blog .entry-header,
	.blog .entry-content p {
		width: 100%;
		text-align: center;
	}

	.archive .entry-footer,
	.archive .entry-header,
	.archive .entry-content p {
		width: 100%;
		text-align: center;
	}

	.single article {
		width: 100%;
	}

	.single article p {
		padding: 0 16px;
 }

 	.single .entry-header {
 		text-align: center;
 	}

}


@media screen and (min-width: 768px) {

	ul#menu-blog-menu {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

